#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}


.link {
  color: white;
}

.title {
  color: white;
}

.titlecard {
  background-color: #121212;
  /* background-color: black; */
  width: 344px;
  height: 217px;
  /* was 227 */
  position: absolute;
  top: 89px;
  left: -140px;
}

.imgcontainer {
  position: relative;
}

.links {
  border: 2px solid red;
  margin-top: 11px;
}

.firstname {
  /* i  edited margin-top. was not declared t first */
  /* margin-left: 5px; */
  margin-top: 26px;
  margin-bottom: 0;
  color: white;

  /* text-align: left; */
}

.lastname {
  margin-top: 0;
  margin-bottom: 0;
  color: white;

  /* color: black; */
  /* text-align: left; */
}

.subtitle {
  margin-top: 12px;
}

.card {
  padding: 2em;
}

